NODE_ENV=production
PORT=3000
FRONTEND_ORIGIN=https://entrepaginas.lat

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_LOGGING=false

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
CSRF_SECRET=
REFRESH_COOKIE_NAME=refresh_token

ADMIN_FIRST_NAME=
ADMIN_LAST_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
